var filter = {
    getOptions: function(options) {
        return JSON.parse(options);
    },
    getAnswer: function (answers) {
        return JSON.parse(answers);
    },
    check: function (key, answer) {
        if (answer)
        return answer.indexOf(key) != -1;
    },
    check1: function (key, answer) {
        if (answer)
        return answer.indexOf(key) != -1;
    },
    menu:function(checkAnswer, answer){
        return checkAnswer.length == JSON.parse(answer).length;
    }
}
module.exports = {
    getOptions: filter.getOptions,
    getAnswer: filter.getAnswer,
    check: filter.check,
    check1: filter.check1,
    menu: filter.menu
}